---
layout: page.hbs
title: <%= site.title %>
siteBase: <%= site.base %>
siteFolder: <%= site.siteFolder %>
description: "25% by 2025"
dateCreated: 04-21-2015 11:21:23
slug: "25% by 2025"
keywords:
- research
- prison
chartDataJS: "highcharts-25-by-2025.js"
---
<div class="container-fluid mosaic-container">

<div class="col-md-12 col-sm-12 col-xs-12 mosaic-well">
  <div style="height: 350px;" >
    <div class="overlay" style="height: 450px; background-image: url('{{assets}}img/staircase.jpg')">
    
        <div class="mosaic-tall-headline dark">

        </div>



    </div>
  </div>

</div>
</div>




<div class="container-fluid">

  <div class="col-md-3" id="leftCol">

</div><!--/left-->
  <div class="col-md-7">
    <progress value="0" id="progressBar" class="flat">
    <div class="progress-container">
      <span class="progress-bar">test</span>
    </div>
    </progress>
    <div class="article">
      <span class="article-date">{{site.title}}</span>

    <h1 id="25%-by-2025" class="article-headline">25% by 2025 : Reducing the Prison Population</h1>
    <div class="article-content">


      <h3>Data coming soon</h3>

      <div style="height: 800px"></div>

<!-- <h2 id="what-does-a-25-reduction-look-like">What does a 25% reduction look like?</h2>

<p>A 25% reduction in the IDOC population involves making certain assumptions or projections on what the size of the prison population would be without the reduction. Figure 1 shows the IDOC prison population since 1989 and three different trend lines extended to the year 2025. The trend lines illustrate possible population growth based on the historical trends.</p>
<div class="HC_Container">
  <div id="HC2025_Fig1"></div>
</div>
<i>SPAC implemented a linear projection method based on various starting points (SPAC analyzed several other methods of projecting the population and none varied significantly). Multivariate analysis methods produced estimates between 49,671 and 62,494. These models were highly accurate for past populations, but further evaluation is necessary to verify the models' logic.</i>

<p>The black dashed line from 2014 to 2024 is the IDOC Research and Planning Unit's population projection reaching 55,161 inmates by 2024. This calculation incorporates IDOC's internal length of stay estimates for the current population. The colored lines are SPAC's linear trend lines based solely on historical data. The length of data examined is delineated by the colored vertical lines. The sentencing patterns have changed sufficiently since 1989 such that the green line is likely the most appropriate trend, suggesting a ten-year population of 55,450. The red line follows the trend from 1989 to today, estimating the ten-year population of 59,698. The purple line tracks the slight downward of the most recent three years to estimate an IDOC population of 48,271 in 2025. The purple line is the least likely because it fails to capture the long-term impact of truth-in-sentencing laws which increase the length of stay of a smaller number of inmates sufficiently to offset an overall downward trend in admissions.</p>
<div class="HC_Container">
<div id="HC2025_Fig2"></div>
</div>
<p>Figure 2 shows the path to a 25% reduction from the twelve-year trend in the prison population and a 25% reduction from the current IDOC population. To achieve a permanent, sustainable reduction in the prison population, policy must rely on the best Illinois-specific research of what drives our population. SPAC research, supported by both IDOC and ICJIA analysis, has two primary drivers of the population: admissions, including persistently high recidivism rates for the past decade, and increasing lengths of stay. Policy makers should use data and simulation to think about strategies to reach the 25% reduction goal.</p>



<h2 id="two-levers-admissions-and-length-of-stay">Two levers - Admissions and Length of Stay</h2>

<p>One lever to reduce the prison population is simply to reduce admissions. Possible ways to do so include:</p>

<ul>
<li>Prison diversion</li>
<li>Changing parole policies</li>
<li>Sentencing law changes</li>
<li>Reduce recidivism through evidence based programming in diversions, in prison, during reentry, and in the community</li>
</ul>

<p>A second lever to reduce the size of the prison population is to change the sentence lengths statutorily. Possible avenues to do so include:</p>

<ul>
<li>Changing the sentence range for felony classes</li>
<li>Awarding various credits for good conduct, treatment participation, etc.</li>
<li>Sentencing law changes that reduce length of stay</li>
<li>Making length of stay and/or sentencing, including targeted early release, based on risk and needs assessment</li>
</ul>

<p>Illinois already has in place a prison diversion program called Adult Redeploy Illinois (ARI). ARI allows judges and prosecutors to place individuals who would be sentenced to IDOC in probation-based community treatment modalities such as drug and specialty courts, intensive probation, etc. As of April 2015, ARI has been implemented in nearly 40 counties in Illinois, but given additional resources it could expand. More information about ARI is available on the <a href="http://www.icjia.org/public/redeploy/">ARI website</a>.</p>

<p>Various changes to parole policies and parole staffing levels have corresponded to changes in the rate of technical violation returns to Illinois prison substantially in the past twenty years. A detailed examination of this can be found in the [SPAC publication Drivers of the Sentenced Population: MSR Violators](<a href="http://www.icjia.state.il.us/spac/pdf/SPAC">http://www.icjia.state.il.us/spac/pdf/SPAC</a> Report MSR violator 9-13.pdf).</p>

<p>Various changes to sentencing laws may reduce admissions and/or time served. Presumptive sentencing, where every criminal case presumes that the minimum penal policy be applied, may reduce prison admissions for offenses where both probation and prison are sentencing options. <a href="http://www.nap.edu/catalog/18613/the-growth-of-incarceration-in-the-united-states-exploring-causes">The National Research Council Committee on Law and Justice concluded that presumptive sentencing guidelines in other states show evidence of controlling the growth of the prison population</a>. Other statutory changes could also be made, such as reducing the sentence minimum and maximum lengths within each felony class, making more offenses eligible for probation, and reducing the percentage required to serve in prison under truth-in-sentencing laws.</p>

<p>Prison and community based treatment that is evidence based can reduce recidivism, which in turn reduces the rate at which offenders return to prison. Recidivism, defined here as a return to prison within three years of release, has hovered at approximately 50% for the last decade. Evaluations of the Sheridan and SWICC drug treatment programs have demonstrated that those programs cause reductions in recidivism. </p>

<p>Risk assessment can be used at various points in the criminal justice system to identify individuals for diversion. Risk assessment uses a variety of factors, such as criminal history, to determine someone's risk of re-offending. It can also be used to identify their needs and provide direction for targeting treatment and services that can reduce recidivism. </p>

<p>The RANA (Risk and Needs Assessment) Task Force was formed from the Crime Reduction Act of 2009 to develop plans to adopt, validate, and utilize a risk assessment tool. The use of risk assessment can inform decision making with the goal of reducing victimizations and improving the effectiveness of rehabilitative programming. Recently, a <a href="http://www.lafollette.wisc.edu/images/publications/workingpapers/cba2015-003.pdf">report detailed a cost-benefit analysis of implementing risk assessment in IDOC</a>. They found that the recidivism reductions and associated benefits from using a risk assessment tool at MSR are large enough to offset the cost of implementation. </p>



<h3 id="making-informed-decisions-with-data-and-simulation">Making Informed Decisions with Data and Simulation</h3>

<p>Developing a strategy to reach the 25% reduction goal may require using data and simulation models to determine if whatever methods chosen will be effective. For example, consider the possibility of solely relying on reducing admissions for the less severe felony classes (classes 3 and 4) that are not admitted on a violent offense.</p>

<div class="HC_Container" style="max-width: none;">
<div id="HC2025_Fig3"></div>
</div>

<p>The use of <a href="http://www.icjia.org/public/">bed-years</a> demonstrates that the impact of removing low-level offenders from prison has a lower impact on resource use than removing long-serving offenders. For example, if all reductions in offenders focused on low-level non-violent offenders, the reduction in bed-years would be modest. The reason for this difference is the lengths of stay: Class 4 non-violent offenders averaged less than a year in prison, whereas Class X nonviolent offenders averaged approximately 3.9 years in prison in 2013. The bed-years metric thus illustrates that six Class 4 non-violent offenders consume a similar amount of resources as one Class X non-violent offender.</p> -->



  </div>

  </div>
</div>
</div>
