---
layout: page.hbs
title: <%= site.title %>
siteBase: <%= site.base %>
siteFolder: <%= site.siteFolder %>
description: "Submit your comments to the Commission"
dateCreated: 03-17-2015
slug: "Comments"
keywords:
- news
posted: 03-17-2015
navSort: 100
---


<div class="container-fluid">

  <div class="col-md-2">
&nbsp


    </div>
  <div class="col-md-9">
    <style>


    </style>
    <div class="article">

    <h1 class="article-headline">Submit your comments to the Commission</h1>

    <div class="article-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ante quam. Etiam at iaculis urna. Nulla molestie, tellus a ultricies fermentum, augue elit rhoncus purus, eget hendrerit sem libero maximus eros. Ut condimentum dui et viverra tempus dunt, sit amet eleifend erat finibus. Suspendisse posuere sapien ut ipsum commodo, id feugiat lacus scelerisque.</p>
    <div class="text-center">
    <a class="ghost-button long" style="margin-top: 25px" href="#"><i class="fa fa-comment"></i> Go to comment form</a>
  </div>



  </div>

  </div>

  <div style="height: 100px"></div>
</div>
</div>
