---
layout: page.hbs
description: "Submit your comments to the Commission"
dateCreated: 03-17-2015 14:26:23
slug: "Comments"
keywords:
- 'ICJIA'
- 'Illinois State Commission on Criminal Justice and Sentencing Reform'
- 'Public comment'
posted: 03-17-2015
---


<div class="container-fluid">

  <div class="col-md-2">
&nbsp


    </div>
  <div class="col-md-9">
    <style>


    </style>
    <div class="article">
      <span class="article-date">{{site.title}}</span>
    <h1 class="article-headline">Submit your comments</h1>



    <div class="article-content">
    <p>To contact the Commission, please send email to <a href="mailto: cja.info@illinois.gov">cja.info@illinois.gov</a></p>


  </div>
  <div style="height: 800px"></div>

  </div>



  </div>

  </div>


</div>
</div>

<script>

$( document ).ready(function() {
  $( "#comment-button" ).click(function(e) {
    e.preventDefault();
    $('#comment-response').html('TO DO: This will take you to SurveyGizmo form for submitting comments.')
  });
});


</script>
