---
layout: page.hbs
title: <%= site.title %>
description: "Contact the Illinois Criminal Justice Reform Commission"
dateCreated: 03-17-2015 14:26:23
slug: "Contact Us"
keywords:
- news
posted: 03-17-2015
navSort: 100
---


<div class="container-fluid">

  <div class="col-md-2">
&nbsp;


    </div>
  <div class="col-md-9">
    <style>


    </style>
    <div class="article">
      <span class="article-date">{{site.title}}</span>
    <h1 class="article-headline">The Commission Mailing List</h1>




    <div class="article-content">
      <p>Sign up to be notified of upcoming Commission meetings and website updates.</p>
      <div class="text-center">
      <a class="ghost-button long" style="margin-top: 25px" href="http://visitor.r20.constantcontact.com/d.jsp?llr=srncpkfab&p=oi&m=1105231689266&sit=ia7m576fb&f=017f566d-65a3-4519-a84e-2686e5fcdc88"><i class="fa fa-envelope"></i> Join our eMail List</a>
    </div>
  </div>





    <div class="article-content">
    <p>Or, to contact the Commission directly, please send email to <a href="mailto: cja.info@illinois.gov">cja.info@illinois.gov</a></p>

    <div style="height: 600px"></div>

  </div>


</div>
</div>
