---
layout: page.hbs
title: <%= site.title %>
description: "Contact the Illinois Criminal Justice Reform Commission"
dateCreated: 03-17-2015 14:26:23
slug: "Contact Us"
keywords:
- news
posted: 03-17-2015
navSort: 100
---


<div class="container-fluid">

  <div class="col-md-2">
&nbsp


    </div>
  <div class="col-md-9">
    <style>


    </style>
    <div class="article">
      <span class="article-date">{{site.title}}</span>
    <h1 class="article-headline">Contact us</h1>

    <div class="article-content">
    <p>To contact the Commission, please send email to <a href="mailto: cja.info@illinois.gov">cja.info@illinois.gov</a></p>

    <div style="height: 800px"></div>

  </div>

  <div style="height: 100px"></div>
</div>
</div>
