---
layout: page.hbs
title: <%= site.title %>
siteBase: <%= site.base %>
siteFolder: <%= site.siteFolder %>
description: "About the Illinois Criminal Justice Reform Commission"
dateCreated: 03-17-2015
slug: "The Commission mission"
keywords:
- news
posted: 03-17-2015
navSort: 100
---


<div class="container-fluid">

  <div class="col-md-2">
&nbsp


    </div>
  <div class="col-md-9">
    <style>


    </style>
    <div class="article">
      <span class="article-date">The Illinois Criminal Justice Reform Commission</span>
    <h1 class="article-headline">Commission Members</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ante quam. Etiam at iaculis urna. Nulla molestie, tellus a ultricies fermentum, augue elit rhoncus purus, eget hendrerit sem libero maximus eros. Ut condimentum dui et viverra tempus dunt, sit amet eleifend erat finibus. Suspendisse posuere sapien ut ipsum commodo, id feugiat lacus scelerisque.</p>
<div class="text-center">
    <a class="ghost-button xlong" id="exec-button" style="margin-top: 25px" href="#"><i class="fa fa-file-pdf-o"></i> Read the Executive Order</a>

    <div id="exec-response" style="margin-top: 20px; font-size: 16px; color: #f44013"></div>
</div>

<div style="height: 30px"></div>
<ul class="commission-members">
    <li><b>Chairman: Rodger Heaton</b> - Public Safety Director & Homeland Security Advisor, Office of the Governor</li>
    <li><b>Vice Chairman: Jason Barclay</b> - General Counsel, Office of the Governor</li>
    <li>Kathryn Bocanegra - Director of Violence Prevention, Enlace Chicago</li>
    <li>Jerry Butler - Vice President of Community Corrections, Safer Foundation</li>
    <li>Brendan Kelley - State's Attorney, St. Clair County</li>
    <li>Andrew Leipold - Edwin M. Adams Professor of Law, University of Illinois</li>
    <li>John Maki - Executive Director, Illinois Criminal Justice Information Authority</li>
    <li>Doug Marlowe - Chief of Science, Law & Policy, National Association of Drug Court Professionals</li>
    <li>David Olson - Professor of Criminal Justice and Criminology, Loyola University</li>
    <li>Michael Pelletier - Illinois Appellate Defender</li>
    <li>Elena Quintana - Executive Director, Institute for Public Safety - Adler University</li>
    <li>Elizabeth Robb - (Ret.) Chief Judge, 11th Judicial Circuit</li>
    <li>Pamela Rodriguez - President and CEO, Treatment Alternatives for Safe Communities</li>
    <li>Kathryn Saltmarsh - Executive Director, Illinois Sentencing Policy Advisory Council</li>
    <li>Stephen Sawyer - Director of Specialty Courts, 2nd Judicial Circuit & (Ret.) Chief Judge</li>
    <li>Michael Connelly - State Senator</li>
    <li>Karen McConnaughay - State Senator</li>
    <li>Michael Noland - State Senator</li>
    <li>Kwame Raoul - State Senator</li>
    <li>Scott Drury - State Representative</li>
    <li>Elgie Sims Jr. - State Representative</li>
    <li>Brian Stewart - State Representative</li>
    <li>John Cabello - State Representative</li>
    <li>(position vacant) - Director, Illinois Department of Corrections</li>
    <li>Howard Peters- Former Director, Illinois Department of Corrections</li>
    <li>Greg Sullivan - Executive Director, Illinois Sheriffs' Association</li>
    <li>Gladyse Taylor - Assistant Director, Illinois Department of Corrections</li>
    <li>Michael Tardy - Director, Administrative Office of the Illinois Courts</li>

    <li>Staff: Samantha Gaddy - Public Safety Policy Advisor, Office of the Governor</li>
    <li>Staff: Zafreen Farishta - Public Safety Dunn Fellow, Office of the Governor</li>
</ul>







  </div>

  </div>

  <div style="height: 500px"></div>
</div>
</div>



<script>

$( document ).ready(function() {
  $( "#exec-button" ).click(function() {
    $('#exec-response').html('TO DO: Link to the PDF of the exec order.')
  });
});


</script>
