---
layout: page.hbs
title: <%= site.title %>
siteBase: <%= site.base %>
siteFolder: <%= site.siteFolder %>
description: "About the Illinois Criminal Justice Reform Commission"
dateCreated: 03-17-2015
slug: "The Commission mission"
keywords:
- news
posted: 03-17-2015
navSort: 100
---

<div class="container-fluid page-content" id="commission">

<div class="text">
  <h2>The Illinois</h2>
  <h2>Criminal Justice</h2>
  <h2>Reform Commission</h2>

</div>
  <div class="col-md-6 col-sm-6" >






<div class="pull-right" style="text-align: right">
        <ol class="normal" >
          <li>Chairman: Rodger Heaton - Public Safety Director & Homeland Security Advisor, Office of the Governor</li>
          <li>Vice Chairman: Jason Barclay - General Counsel, Office of the Governor</li>
          <li>Kathryn Bocanegra - Director of Violence Prevention, Enlace Chicago</li>
          <li>Jerry Butler - Vice President of Community Corrections, Safer Foundation</li>
          <li>Brendan Kelley - State's Attorney, St. Clair County</li>
          <li>Andrew Leipold - Edwin M. Adams Professor of Law, University of Illinois</li>
          <li>John Maki - Executive Director, Illinois Criminal Justice Information Authority</li>
          <li>Doug Marlowe - Chief of Science, Law & Policy, National Association of Drug Court Professionals</li>
          <li>David Olson - Professor of Criminal Justice and Criminology, Loyola University</li>
          <li>Michael Pelletier - Illinois Appellate Defender</li>
          <li>Elena Quintana - Executive Director, Institute for Public Safety - Adler University</li>
          <li>Elizabeth Robb - (Ret.) Chief Judge, 11th Judicial Circuit</li>
          <li>Pamela Rodriguez - President and CEO, Treatment Alternatives for Safe Communities</li>
          <li>Kathryn Saltmarsh - Executive Director, Illinois Sentencing Policy Advisory Council</li>
          <li>Stephen Sawyer - Director of Specialty Courts, 2nd Judicial Circuit & (Ret.) Chief Judge</li>
          <li>Michael Connelly - State Senator</li>

        </ol>
    </div>
</div>


<div class="col-md-6 col-sm-6">
        <ol class="post">



        </ol>




</div>



</div>
