---
layout: page.hbs
title: <%= site.title %>
siteBase: <%= site.base %>
siteFolder: <%= site.siteFolder %>
description: "About the Illinois Criminal Justice Reform Commission"
dateCreated: 03-17-2015 14:26:23
slug: "The Commission mission"
keywords:
- news
posted: 03-17-2015
navSort: 100
---

<progress value="0" id="progressBar" class="flat">
<div class="progress-container">
  <span class="progress-bar">test</span>
</div>
</progress>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-3" style="margin-left:0; padding-left: 0;">
      <!--<div style="height: 150px"></div>
      <h3 style="background: #f44013; padding: 10px;">About us</h3>-->
      &nbsp;
    </div>

    <div class="col-md-7" style="background: #fff; ">

      <div style="margin-top: 20px">

        <span class="article-date">{{site.title}}</span>
      <h1 class="article-headline">About the Commission</h1>
      <div class="article-content">
      <p class="drop">On February 11, 2015, Gov. Bruce Rauner signed Executive Order 14 (2015) establishing the Illinois State Commission on Criminal Justice and Sentencing Reform. Comprised of more than two dozen criminal justice practitioners, lawmakers and policymakers, the Commission is charged with developing comprehensive, evidence-based strategies to meet the goal of reducing Illinois’ prison population 25 percent by 2025.</p>

  <p>The Commission will conduct a thorough review of the state’s criminal justice and sentencing structure, sentencing practices, community supervision, and use of alternatives to incarceration. It will build upon bipartisan, data-driven, and evidence-based reforms that have reduced the use of incarceration and its costs while protecting and improving public safety. Data collection and analysis will be used to identify public safety outcomes that reduce crime, reduce recidivism, and protect the citizens of Illinois.</p>

  <p>Commission tasks include evaluation of sentencing policy, structure, and trends, and their impact on the state’s capacity for incarceration, corrections operations, and resources needed to manage offenders. Offender community reentry services and their role in reducing recidivism also will be evaluated.</p>

  <p>An initial report of the Commission’s findings and recommendations are due to the Governor by July 1, 2015. A final report is due to the Governor and the General Assembly by December 31, 2015.</p>

  </div>
</div>



    </div>

</div>

</div> <!-- //container -->






<div class="container-fluid" style="margin-top: 80px">
  <div class="row">

    <div class="col-md-3" style="margin-left:0; padding-left: 0;">
      <!--<div style="height: 150px"></div>
      <h3 style="background: #f44013; padding: 10px;">The Executive Order</h3>-->
    </div>

    <div class="col-md-7" style="background: #fff; ">

      <h1 class="article-headline">The Executive Order</h1>

        <div class="text-center" style="margin-top: 25px;">
        <img src="{{assets}}img/eorderheader.gif" class="hidden-xs  hidden-sm"/>
        </div>

        <div class="text-center" style="margin-top: 25px; margin-bottom: 45px">
            <a class="ghost-button xlong" href="{{assets}}pdf/ExecutiveOrder2015-14.pdf" target="_blank" style="margin-top: 25px" href="#"><i class="fa fa-file-pdf-o"></i> Download the PDF</a>

            <div id="exec-response" style="margin-top: 20px; font-size: 16px; color: #f44013"></div>
        </div>

        <div><b>EXECUTIVE ORDER  15-14</b><div style="text-align:center;margin:24pt 0in;text-indent:0in"><b>EXECUTIVE ORDER ESTABLISHING THE ILLINOIS STATE COMMISSION ON <br />CRIMINAL JUSTICE AND SENTENCING REFORM</b></div></div>
        <div style="text-align:left;margin:0in 0in 0pt;text-indent:0in"><div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>WHEREAS</b>, imprisonment is the State’s most expensive form of criminal punishment, with taxpayers spending $1.3 billion on the Department of Corrections and $131 million on the Department of Juvenile Justice each year; and</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>WHEREAS</b>, 97% of all inmates are eventually released from the custody of the Department of Corrections into the state’s most vulnerable and impoverished communities; and</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>WHEREAS</b>, recidivism is dangerously high, with 48% of the adult inmates and 53.5% of juveniles released from incarceration only to return within three years, perpetuating a vicious and costly cycle; and</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>WHEREAS</b>, the Illinois Sentencing Policy Advisory Council and the Illinois Criminal Justice Information Authority have demonstrated that Illinois’ prison population has increased by 700% while Illinois crime rates have fallen by 20% over the last 40 years; and</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>WHEREAS</b>, the Bureau of Justice Statistics recognizes that Illinois has one of the most crowded prison systems in the country, operating at more than 150% of its design capacity; and</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>WHEREAS</b>, the John Howard Association and other outside entities have demonstrated that the Department of Corrections is experiencing severe overcrowding, which threatens the safety of inmates and staff and undermines the Department’s rehabilitative efforts; and </div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>WHEREAS</b>, the twin goals of sentencing in the State of Illinois, as stated in Article I, Section 11 of Illinois Constitution, are to prescribe penalties commensurate with the seriousness of the offense and to restore offenders to useful citizenship; and</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>WHEREAS</b>, states across the country have enacted bipartisan, data-driven, and evidence-based reforms that have reduced the use of incarceration and its costs while protecting and improving public safety; and</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>WHEREAS</b>, the Governor recognizes the necessity of data collection and analysis by state agencies in producing public safety outcomes that will reduce crime, reduce recidivism, and protect the citizens of Illinois; and</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>WHEREAS</b>, it is in the interest of public safety and public good for the State to examine the current criminal justice and sentencing policies, practices, and resource allocation in Illinois to develop comprehensive, evidence-based strategies to more effectively improve public safety outcomes and reduce Illinois’ prison population by 25% by 2025;</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>THEREFORE,</b> I, Bruce Rauner, Governor of Illinois, by virtue of the executive authority vested in me by Section 8 of Article V of the Constitution of the State of Illinois, do hereby order as follows:</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b></b> </div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>I.&nbsp;<span>          </span>CREATION</b></div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in">There is hereby established the Illinois State Commission on Criminal Justice and Sentencing Reform (the “Commission”).</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b></b> </div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>II.&nbsp;<span>        </span>PURPOSE</b></div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in">The Commission shall conduct a comprehensive review of the State’s current criminal justice and sentencing structure, sentencing practices, community supervision, and the use of alternatives to incarceration, including, but not limited to, a review and evaluation of:</div>
        <div style="text-align:justify;margin:0in 0in 12pt">1.&nbsp;The existing statutory provisions by which an offender is sentenced to or can be released from incarceration;</div>
        <div style="text-align:justify;margin:0in 0in 12pt">2.&nbsp;The existing statutory provisions as to their uniformity, certainty, consistency, and adequacy;</div>
        <div style="text-align:justify;margin:0in 0in 12pt">3.&nbsp;The lengths of incarceration and community supervision that result from the current sentencing structure, and the incentives or barriers to the appropriate utilization of alternatives to incarceration; </div>
        <div style="text-align:justify;margin:0in 0in 12pt">4.&nbsp;The extent to which education, job training, and re-entry preparation programs can both facilitate the readiness of inmates to transition into the community and reduce recidivism; </div>
        <div style="text-align:justify;margin:0in 0in 12pt">5.&nbsp;The impact of existing sentences upon the State’s criminal justice system, including state prison capacity, local jail capacity, community supervision resources, judicial operations, and law enforcement responsibilities;</div>
        <div style="text-align:justify;margin:0in 0in 12pt">6.&nbsp;The relation that a sentence or other criminal sanction has to public safety and the likelihood of recidivism; and</div>
        <div style="text-align:justify;margin:0in 0in 12pt">7.&nbsp;The anticipated future trends in sentencing.</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b></b> </div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>III.&nbsp;<span>       </span>DUTIES</b></div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in">The Commission shall make recommendations for amendments to state law that will reduce the State’s current prison population by 25% by 2025 through maximizing uniformity, certainty, consistency, and adequacy of the State’s criminal sentencing structure. The Commission’s recommendations will ensure that (a) the punishment is aligned with the seriousness of the offense, (b) public safety is protected through the deterrent effect of the sentences authorized and the rehabilitation of those that are convicted, and (c) appropriate consideration is accorded to the victims, their families, and the community. Reports of the Commission shall include, but not be limited to, an evaluation of the impact that existing sentences have had on the length of incarceration, the impact of early release, the impact of existing sentences on the length of community supervision, recommended options for the use of alternatives to incarceration, and an analysis of the fiscal impact of the Commission’s recommendations. </div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in">Each department, agency, board, or authority of the State or any unit of local government shall provide records and other information to the Commission as requested by the Commission to carry out its duties, provided that the Commission and the provider of such information shall make appropriate arrangements to ensure that the provision of information to the Commission does not violate any applicable laws. If the Commission receives a request to inspect any such information pursuant to the Illinois Freedom of Information Act, the Commission shall consult with the provider of the information in determining whether an exemption to public inspection applies and should be asserted.</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b></b> </div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>IV.&nbsp;<span>       </span>COMPOSITION </b></div>
        <div style="text-align:justify;margin:0in 0in 12pt">1.&nbsp;The Commission shall consist of members appointed by the Governor after soliciting recommendations from the General Assembly, the Judiciary, victim rights advocates, and other stakeholders. The Governor shall select a chair of the Commission from among the members. A majority of the members of the Commission shall constitute a quorum, and all recommendations of the Commission shall require approval of a majority of the total members of the Commission.</div>
        <div style="text-align:justify;margin:0in 0in 12pt">2.&nbsp;The Illinois Criminal Justice Information Authority shall provide administrative support to the Commission as needed, including providing an ethics officer, an Open Meetings Act officer, and a Freedom of Information Act officer.</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b></b> </div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>V.<span>        </span>REPORT AND SUNSET</b></div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in">The Commission shall issue an initial report of its findings and recommendations to the Governor by July 1, 2015, and a final report to the Governor and the General Assembly by December 31, 2015. Upon submission of its final report, the Commission shall be dissolved.</div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b></b> </div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>VI.&nbsp;<span>       </span>TRANSPARENCY</b></div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in">In addition to whatever policies or procedures it may adopt, all operations of the Commission shall be subject to the provisions of the Illinois Freedom of Information Act (5 ILCS 140/1 <i>et seq.</i>) and the Illinois Open Meetings Act (5 ILCS 120/1 <i>et seq.</i>). This section shall not be construed so as to preclude other statutes from applying to the Commission and its activities.</div>
        <div style="page-break-after:avoid;text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b></b> </div>
        <div style="page-break-after:avoid;text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>VII.&nbsp;<span>     </span>SEVERABILITY CLAUSE</b></div>
        <div style="text-align:justify;margin:0in 0in 12pt;text-indent:0in">If any part of this Executive Order is found invalid by a court of competent jurisdiction, the remaining provisions shall remain in full force and effect.</div>
        <div style="page-break-after:avoid;text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b></b> </div>
        <div style="page-break-after:avoid;text-align:justify;margin:0in 0in 12pt;text-indent:0in"><b>VIII.&nbsp;<span>    </span>EFFECTIVE DATE </b></div>
        <div style="page-break-after:avoid;text-align:justify;margin:0in 0in 12pt;text-indent:0in">This Executive Order shall take effect immediately upon filing with the Secretary of State.</div></div>
        <div style="text-align:left;margin:0in 0in 0pt;text-indent:0in"> </div>
        <div style="text-align:left;margin:0in 0in 0pt;text-indent:0in">Bruce Rauner, Governor</div>
        <div style="text-align:justify;margin:24pt 0in 0pt;text-indent:0in">Issued by the Governor: February 11, 2015</div>
        <div style="text-align:justify;margin:0in 0in 0pt;text-indent:0in">Filed with the Secretary of State: February 11, 2015</div>


      </div>



    </div>

</div>

</div> <!-- //container -->




<div style="margin-top: 80px">


<div class="container-fluid">
  <div class="row">

    <div class="col-md-3" style="margin-left:0; padding-left: 0;">
      <!--<div style="height: 150px"></div>
      <h3 style="background: #f44013; padding: 10px;">Commission Members</h3>
      &nbsp;-->
    </div>

    <div class="col-md-7" style="background: #fff; ">



        <h1 class="article-headline">The Commission Members</h1>
        <ul class="commission-members">
            <li><b>Chairman: Rodger Heaton</b> - Public Safety Director & Homeland Security Advisor, Office of the Governor
              <!--<article class="expander">

                <p>Tempor ea occaecat aliqua pariatur anim. Magna laborum proident laborum excepteur sit fugiat ad ipsum amet cillum adipisicing. Ullamco ullamco incididunt laborum velit amet incididunt proident reprehenderit culpa Lorem. Laborum excepteur enim et ad culpa duis occaecat nostrud dolor officia velit nisi reprehenderit. Occaecat adipisicing velit qui dolor deserunt veniam ut reprehenderit veniam id in aliqua commodo. Commodo quis consequat consequat consequat nulla excepteur. Est velit exercitation veniam esse in consectetur do labore magna cupidatat adipisicing commodo pariatur sunt. Sit Lorem officia culpa esse proident labore consequat dolore dolor dolor sint.
                </p>

                <p>Tempor ea occaecat aliqua pariatur anim. Magna laborum proident laborum excepteur sit fugiat ad ipsum amet cillum adipisicing. Ullamco ullamco incididunt laborum velit amet incididunt proident reprehenderit culpa Lorem. Laborum excepteur enim et ad culpa duis occaecat nostrud dolor officia velit nisi reprehenderit. Occaecat adipisicing velit qui dolor deserunt veniam ut reprehenderit veniam id in aliqua commodo. Commodo quis consequat consequat consequat nulla excepteur. Est velit exercitation veniam esse in consectetur do labore magna cupidatat adipisicing commodo pariatur sunt. Sit Lorem officia culpa esse proident labore consequat dolore dolor dolor sint.
                </p>

                <p>Tempor ea occaecat aliqua pariatur anim. Magna laborum proident laborum excepteur sit fugiat ad ipsum amet cillum adipisicing. Ullamco ullamco incididunt laborum velit amet incididunt proident reprehenderit culpa Lorem. Laborum excepteur enim et ad culpa duis occaecat nostrud dolor officia velit nisi reprehenderit. Occaecat adipisicing velit qui dolor deserunt veniam ut reprehenderit veniam id in aliqua commodo. Commodo quis consequat consequat consequat nulla excepteur. Est velit exercitation veniam esse in consectetur do labore magna cupidatat adipisicing commodo pariatur sunt. Sit Lorem officia culpa esse proident labore consequat dolore dolor dolor sint.
                </p>


              </article>-->


            </li>
            <li><b>Vice Chairman: Jason Barclay</b> - General Counsel, Office of the Governor
              <!--<article class="expander">

                <p>Tempor ea occaecat aliqua pariatur anim. Magna laborum proident laborum excepteur sit fugiat ad ipsum amet cillum adipisicing. Ullamco ullamco incididunt laborum velit amet incididunt proident reprehenderit culpa Lorem. Laborum excepteur enim et ad culpa duis occaecat nostrud dolor officia velit nisi reprehenderit. Occaecat adipisicing velit qui dolor deserunt veniam ut reprehenderit veniam id in aliqua commodo. Commodo quis consequat consequat consequat nulla excepteur. Est velit exercitation veniam esse in consectetur do labore magna cupidatat adipisicing commodo pariatur sunt. Sit Lorem officia culpa esse proident labore consequat dolore dolor dolor sint.
                </p>

                <p>Tempor ea occaecat aliqua pariatur anim. Magna laborum proident laborum excepteur sit fugiat ad ipsum amet cillum adipisicing. Ullamco ullamco incididunt laborum velit amet incididunt proident reprehenderit culpa Lorem. Laborum excepteur enim et ad culpa duis occaecat nostrud dolor officia velit nisi reprehenderit. Occaecat adipisicing velit qui dolor deserunt veniam ut reprehenderit veniam id in aliqua commodo. Commodo quis consequat consequat consequat nulla excepteur. Est velit exercitation veniam esse in consectetur do labore magna cupidatat adipisicing commodo pariatur sunt. Sit Lorem officia culpa esse proident labore consequat dolore dolor dolor sint.
                </p>

                <p>Tempor ea occaecat aliqua pariatur anim. Magna laborum proident laborum excepteur sit fugiat ad ipsum amet cillum adipisicing. Ullamco ullamco incididunt laborum velit amet incididunt proident reprehenderit culpa Lorem. Laborum excepteur enim et ad culpa duis occaecat nostrud dolor officia velit nisi reprehenderit. Occaecat adipisicing velit qui dolor deserunt veniam ut reprehenderit veniam id in aliqua commodo. Commodo quis consequat consequat consequat nulla excepteur. Est velit exercitation veniam esse in consectetur do labore magna cupidatat adipisicing commodo pariatur sunt. Sit Lorem officia culpa esse proident labore consequat dolore dolor dolor sint.
                </p>


              </article>-->
        </li>
            <li>Kathryn Bocanegra - Director of Violence Prevention, Enlace Chicago</li>
            <li>Jerry Butler - Vice President of Community Corrections, Safer Foundation</li>
            <li>Brendan Kelley - State's Attorney, St. Clair County</li>
            <li>Andrew Leipold - Edwin M. Adams Professor of Law, University of Illinois</li>
            <li>John Maki - Executive Director, Illinois Criminal Justice Information Authority</li>
            <li>Doug Marlowe - Chief of Science, Law & Policy, National Association of Drug Court Professionals</li>
            <li>David Olson - Professor of Criminal Justice and Criminology, Loyola University</li>
            <li>Michael Pelletier - Illinois Appellate Defender</li>
            <li>Elena Quintana - Executive Director, Institute for Public Safety - Adler University</li>
            <li>Elizabeth Robb - (Ret.) Chief Judge, 11th Judicial Circuit</li>
            <li>Pamela Rodriguez - President and CEO, Treatment Alternatives for Safe Communities</li>
            <li>Kathryn Saltmarsh - Executive Director, Illinois Sentencing Policy Advisory Council</li>
            <li>Stephen Sawyer - Director of Specialty Courts, 2nd Judicial Circuit & (Ret.) Chief Judge</li>
            <li>Michael Connelly - State Senator</li>
            <li>Karen McConnaughay - State Senator</li>
            <li>Michael Noland - State Senator</li>
            <li>Kwame Raoul - State Senator</li>
            <li>Scott Drury - State Representative</li>
            <li>Elgie Sims Jr. - State Representative</li>
            <li>Brian Stewart - State Representative</li>
            <li>John Cabello - State Representative</li>
            <li>Donald Stolworthy - Director, Illinois Department of Corrections</li>
            <li>Howard Peters- Former Director, Illinois Department of Corrections</li>
            <li>Greg Sullivan - Executive Director, Illinois Sheriffs' Association</li>
            <li>Gladyse Taylor - Assistant Director, Illinois Department of Corrections</li>
            <li>Michael Tardy - Director, Administrative Office of the Illinois Courts</li>

            <li>Staff: Samantha Gaddy - Public Safety Policy Advisor, Office of the Governor</li>
            <li>Staff: Zafreen Farishta - Public Safety Dunn Fellow, Office of the Governor</li>
        </ul>




  </div>



    </div>

</div>

</div> <!-- //container -->
