---
layout: page.hbs
title: <%= site.title %>
siteBase: <%= site.base %>
siteFolder: <%= site.siteFolder %>
description: "Illinois Criminal Justice Reform Commission meetings"
dateCreated: 03-17-2015
slug: "Meetings"
keywords:
- news
posted: 03-17-2015
navSort: 100
---


<div class="container-fluid">

  <div class="col-md-2">
&nbsp


    </div>
  <div class="col-md-9">
    <style>


    </style>
    <div class="article">

      <span class="article-date">The Illinois Criminal Justice Reform Commission</span> <!--// <span class="article-authors">John Doe & Jane Doe</span>-->
    <h1 class="article-headline">Meeting Information</h1>

    <div class="article-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed ante quam. Etiam at iaculis urna. Nulla molestie, tellus a ultricies fermentum, augue elit rhoncus purus, eget hendrerit sem libero maximus eros. Ut condimentum dui et viverra tempus dunt, sit amet eleifend erat finibus. Suspendisse posuere sapien ut ipsum commodo, id feugiat lacus scelerisque.</p>


  </div>



  </div>

  </div>

  <div style="height: 600px"></div>
</div>
</div>
