---
layout: page.hbs
title: <%= site.title %>
siteBase: <%= site.base %>
siteFolder: <%= site.siteFolder %>
description: "Illinois Criminal Justice Reform Commission meetings"
dateCreated: 03-24-2015 09:00:01
slug: "Meetings"
keywords:
- news
posted: 03-17-2015
navSort: 100
---


<div class="container-fluid">

  <div class="col-md-2">
&nbsp


    </div>
  <div class="col-md-9">
    <style>


    </style>
    <div class="article">

      <span class="article-date">{{site.title}}</span>
    <h1 class="article-headline">Meeting Information</h1>

    <div class="news-item">



      <span class="news-category">MEETING</span>&nbsp<span class="news-date">03.23.2015</span>

    <h2 >Commission to convene March 26</h2>



    <p>The first meeting of the Illinois State Commission on Criminal Justice and Sentencing Reform will be held Thursday, March 26 at 1:30 p.m. in Stratton Rm. 349C, Robert Oxtoby Board Room North, Stratton Office Building, 401 South Spring Street, Springfield, Illinois, 62706.</p>




</div> <!-- //news-item -->


<div style="height: 500px"></div>


  </div>

  </div>

  <div style="height: 600px"></div>
</div>
</div>
