
<footer style="margin-top: 40px">
  <div style="height: 120px; background: #333; text-align: center">
    <div class="the-fine-print" style="text-transform: uppercase; padding-top: 8px; color: #eee; font-size: 11px">
      <br/><br/><br/>This is the fine print. </div>

  </div>

</footer>
