
<footer style="margin-top: 40px">
  <div style="height: 125px; background: #333; text-align: center">
    <div class="the-fine-print" style="text-transform: uppercase; padding-top: 8px; color: #eee; font-size: 12px">
      <br/><br/><br/><i class="fa fa-copyright"></i>&nbsp2015 by the <a href="{{assets}}index.html">{{site.title}}</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="{{assets}}about/contact.html">Contact Us</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="https://www.surveygizmo.com/s3/2097986/Submit-Your-Comments-to-the-Illinois-State-Commission-on-Criminal-Justice-Sentencing-Reform">Submit Your Comments</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="http://visitor.r20.constantcontact.com/manage/optin?v=001MqUcqqvjwLCJXlLMSWbTe3zHHmEQgFeBuHvBcJWTbwgrxFbDSGx4HayPFh6Pb5cQUYKWO7Cbzfa98fxhycho07-tHaayZQdJKeqM8rxPD_ccdyiqivsCkf91cJTiJd3KWRBvXQ7ov6mAzfFB8pnunBQDX16dAw2VXJBn0385-b_j5Wgb6z4Iv-Z6ByJ9lmM6BAqqD75q__Y%3D">Join our mailing list</a>
      </div>

  </div>

</footer>
