<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Budget and Capacity Subcommittee</h3>
  </div>

  <div class="panel-body">

    <table class="table table-condensed fc-table">

      <thead>

      </thead>

      <tbody>

        <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
          <td class="strong" width="33%">July 10, 2015</td>

          <td width="33%"><a href="{{assets}}pdf/7_10_15 B & C subcommittee agenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', '7_10_15 B & C subcommittee agenda.pdf')">Agenda</a>
          </td>
          <td>
            <!-- <button class="btn btn-default btn-xs">
          ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
        </button> -->
          </td>
        </tr>
        <!-- <tr>
      <td colspan="6" class="hiddenRow">
        <div id="law1" class="accordian-body collapse">
          <div class="accordian-body-content">

              <p>Link 1</p>
              <p>Link 2</p>


          </div>
        </div>
      </td>
    </tr> -->


    <tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
      <td class="strong" width="30%">May 21, 2015</td>

      <td><a href="{{assets}}pdf/5_21 budget_agenda.pdf" onclick="ga('send', 'event', 'Downloads', 'Click', '5_21 budget_agenda.pdf')">Agenda</a>
      </td>
      <td>
        <!-- <button class="btn btn-default btn-xs">
      ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
    </button> -->
      </td>
    </tr>
    <!-- <tr>
  <td colspan="6" class="hiddenRow">
    <div id="law1" class="accordian-body collapse">
      <div class="accordian-body-content">

          <p>Link 1</p>
          <p>Link 2</p>


      </div>
    </div>
  </td>
</tr> -->


<tr data-toggle="collapse" data-target="#law1" class="accordion-toggle">
  <td class="strong" width="30%">April 25, 2015</td>

  <td><a href="{{assets}}word/budget-system04-25-2015.docx" onclick="ga('send', 'event', 'Downloads', 'Click', 'budget-system04-25-2015.docx')">Agenda</a>
  </td>
  <td>
    <!-- <button class="btn btn-default btn-xs">
  ADDITIONAL MATERIALS&nbsp;<i class="fa fa-caret-down"></i>
</button> -->
  </td>
</tr>
<!-- <tr>
<td colspan="6" class="hiddenRow">
<div id="law1" class="accordian-body collapse">
  <div class="accordian-body-content">

      <p>Link 1</p>
      <p>Link 2</p>


  </div>
</div>
</td>
</tr> -->







</tbody>
</table>










</div>


</div>
