@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url('src/styles/google/PT+Mono/PT Mono_normal_400_default.woff') format('woff');
}
